Saved/Autosaves/Game/Areas/sprites/Veridian_City/spz3zUx_Auto1.uasset
Saved/Autosaves/Game/Areas/sprites/Veridian_City/spz3zUx_Sprite_Auto1.uasset
Binaries\Win64\MultiPoke.exe
Binaries\Win64\MultiPoke.pdb
Binaries\Win64\MultiPoke-Win64-Shipping
Binaries\Win64\MultiPoke-Win64-Shipping.pdb
Intermediate\Build\Win64\x64\MultiPoke\Shipping\Engine\SharedPCH.Engine.Project.ValApi.Cpp20.h.pch
Intermediate\Build\Win64\x64\MultiPoke\Shipping\Core\SharedPCH.Core.Project.ValApi.Cpp20.h.pch
Intermediate\Build\Win64\x64\MultiPoke\Development\Engine\SharedPCH.Engine.Project.ValApi.Cpp20.h.pch
Intermediate\Build\Win64\x64\MultiPoke\Development\Core\SharedPCH.Core.Project.ValApi.Cpp20.h.pch
Saved\StagedBuilds\Windows\MultiPoke\Binaries\Win64\MultiPoke-Win64-Shipping.exe
Saved\StagedBuilds\Windows\MultiPoke\Content\Paks\MultiPoke-Windows.ucas
Saved/Autosaves/PackageRestoreData.json
Saved/Logs/MultiPoke_2.log
Binaries/Win64/MultiPoke-Win64-Shipping.exe
Binaries/Win64/MultiPoke-Win64-Shipping.pdb
Intermediate/Build/Win64/x64/MultiPoke/Shipping/Engine/SharedPCH.Engine.Project.ValApi.Cpp20.h.pch
Intermediate/Build/Win64/x64/MultiPoke/Shipping/Core/SharedPCH.Core.Project.ValApi.Cpp20.h.pch
Saved/StagedBuilds/Windows/MultiPoke/Binaries/Win64/MultiPoke-Win64-Shipping.exe
Saved/StagedBuilds/Windows/MultiPoke/Content/Paks/MultiPoke-Windows.ucas
Saved/StagedBuilds/Windows/MultiPoke/Content/Paks/MultiPoke-Windows.ucas
Saved/Logs/MultiPoke.log
*.log
Saved/Logs/MultiPoke.log
